<html>
<head>
	<!--Link to CSS stylesheet-->
	<link rel = "stylesheet" type = "text/css" href = "{{url_for('static',filename='styles78.css')}}">
</head>

<body>
	<!--Bar with login info and flash messages-->
	<div class='bar'>
		<div class='flash'>
			{% with messages = get_flashed_messages() %}
			{% if messages %}

			<ul>
				{% for message in messages %}
				<li><strong>{{message}}</strong></li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endwith %}
		</div>
		<a class='btn' href="{{url_for('gdisconnect')}}">Log Out</a>
	</div>

	<!--Banner with the site logo and name-->
	<div class='banner'>
		<p>Spinz</p>
		<img src="/static/36315_1.png" alt = "vinyl-logo">
	</div>

	<!--Main Page-->
	<div class='content'>
		<!--If albums have been added by the user, the most popular year and links to 
			Album pages are displayed here.-->
			<div class='column2'>
				<h2>{{head}}</h2>

				{% if my_albums %}

				{% for m in my_albums %}

				<a href="{{url_for('showAlbum',alb_id=m.id,band_id=m.band_id)}}">
					<img src="{{m.artwork}}" alt="{{m.name}}" width = "100px">
				</a>
				<br/>
				{% endfor %}
				{% endif %}
			</div>

			<!--Display bands in database. Show edit and delete options for creator.-->
			<div class='column1'>
				<div>
					<h1>Bands</h1>

					<a class='btn' href="{{url_for('newBand')}}">Add a New Band</a>

				</div>
				<div class='bands'>

					{% for b in bands %}
					<div class='item'>
						<br/>
						<a href="{{url_for('showBand',id=b.id)}}">{{b.name}}</a>
						<br/>
						<div class='frame'>
							<img src="{{b.photo}}" alt="{{b.name}}" width = "200px">
						</div>
						<br/>
						{% if b.user_id == user_id %}
						<a href="{{url_for('editBand',id=b.id)}}">Edit</a>
						<a href="{{url_for('deleteBand',id=b.id)}}">Delete</a>
						{% endif %}
					</div>

					{% endfor %}

				</div>
			</div>


		</div>

	</div>
</body>

</html>