<html>

<body>

<a href="{{url_for('gdisconnect')}}">Log Out</a>

<h2>{{head}}</h2>
<br/>


{% if my_albums %}

{% for m in my_albums %}
	
	<a href="{{url_for('showAlbum',alb_id=m.id,band_id=m.band_id)}}">
		<img src="{{m.artwork}}" alt="{{m.name}}" width = "100px">
	</a>

{% endfor %}

{% endif %}


<h1>Bands</h1>

<a href="{{url_for('newBand')}}">Add a New Band</a>

{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}


{% for b in bands %}

<div>
<br/>
<a href="{{url_for('showBand',id=b.id)}}">{{b.name}}</a>
<br/>
<img src="{{b.photo}}" alt="{{b.name}}" width = "300px">

<br/>
{% if b.user_id == user_id %}
<a href="{{url_for('editBand',id=b.id)}}">Edit</a>
<a href="{{url_for('deleteBand',id=b.id)}}">Delete</a>
{% endif %}


<br/>
<br/>


</div>


{% endfor %}
</body>

</html>