<html>
<body>
<h1> Edit {{a.name}} </h1>

<form action="{{url_for('editAlbum',alb_id=a.id,band_id=band_id)}}" method = 'POST'>

<p>Name:</p>

<input type='text' size='30' name='name'>

<br/>

<p>Artwork:</p>

<input type='text' size='30' name='photo'>

<br/>

<p>Favorite Song:</p>

<input type='text' size='30' name='fav_song'>

<br/>

<p>Release Year:</p>

<input type='text' size='4' name='year'>

<input type='submit' value='Edit'>
<a href="{{url_for('showBand',id=band_id)}}">Back</a>


</form>

</body>
</html>