<html>
<head>
	<!--CSS Stylesheet-->
	<link rel = "stylesheet" type = "text/css" href = "{{url_for('static',filename='styles78.css')}}">
</head>
<body>
	<!--Form for adding new album to database-->
	<div class='form'>

		<br/>

		<img src="/static/36315_1.png" alt = "vinyl-logo">

		<h1> New Album </h1>

		<form action="{{url_for('newAlbum',id=band_id)}}" method = 'POST'>

			<p>Album Name:</p>

			<input type='text' size='30' name='name'>

			<br/>

			<p>Artwork:</p>

			<input type='text' size='50' name='artwork'>

			<br/>

			<p>Favorite Song:</p>

			<input type='text' size='30' name='fav_song'>

			<br/>

			<p>Release Year:</p>

			<input type='text' size='4' name='year'>
			<br/><br/>


			<input type='submit' value='Add New Album'>

		</form>
	</div>

</body>
</html>