<html>

<head>
	<!--CSS Stylesheet-->
	<link rel = "stylesheet" type = "text/css" href = "{{url_for('static',filename='styles97.css')}}">
</head>

<body>
	<!--Bar with option to Log Out-->
	<div class='bar'>
		<div class='flash'>
			{% with messages = get_flashed_messages() %}

			<ul>
				{% if messages %}
				{% for message in messages %}
				<li><strong>{{message}}</strong></li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endwith %}
		</div>
		<a class='btn' href="{{url_for('showlogin')}}">Log In</a>
		<a class='btn' href="{{url_for('index')}}">View All Bands</a>

	</div>

	<div class='banner'>
		<p>Spinz</p>
		<img src="/static/36315_1.png" alt = "vinyl-logo">
	</div>

	<div class = 'content'>
		<!--Show creator and favorite song-->
		<div class = 'column2'>
			<p>Album Added by
				<img src="{{creator.picture}}" style = "width: 40px; height: 40px; border-radius: 20px;-webkit-border-radius: 20px;-moz-border-radius: 20px;">
			</p>
			<p>Favorite Song: {{a.fav_song}}</p><br/>

			<br/>
		</div>
		<!--Show album info-->
		<div class='column1'>
			<h1>{{a.name}}</h1>

			<p>by <a class = 'btn' href="{{url_for('showBand',id=b.id)}}">{{b.name}}</a></p>

			<p>Year: {{a.year}}</p>

			<img src="{{a.artwork}}" alt="{{a.name}}" width = "300px"><br/>

		</div>

	</div>
</body>

</html>