<html>

<body>

<a href="{{url_for('index')}}">View All Bands</a>

<h1>{{b.name}}</h1>
<br/>
<br/>

{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}


{% for a in albums %}

<div>

<a href="{{url_for('showAlbum',band_id=b.id,alb_id=a.id)}}">{{a.name}}</a><br/>

<img src="{{a.artwork}}" alt="{{a.name}}" width = "300px">


<br/>
<br/>

</div>


{% endfor %}
</body>

</html>