<html>

<head>
	<!--CSS Stylesheet-->
	<link rel = "stylesheet" type = "text/css" href = "{{url_for('static',filename='styles97.css')}}">
</head>

<body>
	<!--Log Out-->
	<div class='bar'>
		<div class='flash'>
			{% with messages = get_flashed_messages() %}

			<ul>
				{% if messages %}
				{% for message in messages %}
				<li><strong>{{message}}</strong></li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endwith %}
		</div>
		<a class='btn' href="{{url_for('gdisconnect')}}">Log Out</a>
		<a class='btn' href="{{url_for('index')}}">View All Bands</a>

	</div>

	<div class='banner'>
		<p>Spinz</p>
		<img src="/static/36315_1.png" alt = "vinyl-logo">
	</div>

	<!--Band Info-->
	<div class = 'content'>
		<div class = 'column2'>

			<p>Band Added by
				<img src="{{creator.picture}}" style = "width: 40px; height: 40px; border-radius: 20px;-webkit-border-radius: 20px;-moz-border-radius: 20px;">
			</p>
			<br/>

			<a class='btn' href="{{url_for('newAlbum',id=b.id)}}">Add a New Album</a>
			<br/>
			<br/>

		</div>
		
		<!--List of albums-->
		<div class='column1'>
			<h1>{{b.name}}</h1>

			{% for a in albums %}

			<div>

				<a class = 'btn' href="{{url_for('showAlbum',band_id=b.id,alb_id=a.id)}}">{{a.name}}</a><br/><br/>


				<img src="{{a.artwork}}" alt="{{a.name}}" width = "300px">

				<br/>
				<br/>

				{% if a.user_id == user_id %}

				<a class = 'btn' href="{{url_for('editAlbum',band_id=b.id,alb_id=a.id)}}">Edit</a>
				<a class = 'btn' href="{{url_for('deleteAlbum',band_id=b.id,alb_id=a.id)}}">Delete</a>
				<br/>
				<br/>
				{% endif %}

				<br/>
				<br/>

			</div>


			{% endfor %}
		</div>
	</div>
</body>

</html>